.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.16;
}

.input {
  width: 400px;
  /* margin-left: 15px; */
  padding-top: 10px;
  padding-left: 22px;
  padding-bottom: 10px;

  border: 2px solid #ff14e455;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: left;
  color: rgba(109, 108, 108, 0.8);
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #ff14e480;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.717);
}

.text {
  display: block;
  margin-bottom: 10px;
  margin-left: 8px;
  color: #000;
}
